* {
    box-sizing: border-box;
    margin: 0;
}
.nav-link {
    position: relative;
}

.nav-link:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;
}

.nav-link:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-link svg:hover {
    transform: none;
}

.product-card {
    position: relative;
}

.product-card:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #c62828;
    height: 3px;
}

.product-card:hover:after {
    transition: all 0.5s;
    width: 100%;
}

.hero {
    background-image: url('./assets/smoke-bg.webp');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.hero__cta {
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.9);
}

.red {
    color: #e53935;
}

.hero__subtitle {
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.hero__img {
    vertical-align: bottom;
    padding-top: 1rem;
    object-fit: cover;
}

.cta {
    background: url('./assets/cta.webp');
    background-position: center;
    background-size: cover;
}

.landing-img {
    box-shadow: 2px 2px 10px #0000007a;
}

.custom-button {
    background: #c62828 !important;
}
