/* @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); */
.nav-link{
  position:relative;
}

.nav-link:before{
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}


.nav-link:hover:before{
  transform: scaleX(1);
  transform-origin: left;
} 

.nav-link svg:hover{
  transform:none;
}

.product-card{
  position: relative;
}

.product-card:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #c62828;
  height: 3px;
}

.product-card:hover:after{
  transition: all .5s;
  width: 100%;
} 

.hero{

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  height: 80vh;
  background-image: url("./assets/smoke-bg.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.hero__text{
  width: 40%;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
}

.hero__cta{
  text-transform: uppercase;
  color: #fff;
}

.red{
  color: #E53935;
}

.hero__title{
  color: #fff;
}

.hero__subtitle{
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  color:#fff;

}

.hero__img{

  vertical-align: bottom;
  padding-top: 1rem;
  object-fit: cover;
  /* width: 400px; */
  height: 100%;
}
